<div #main class="main"
  (mousemove)="handleMouseMove($event)">
  <div #container class="container">
    <mat-sidenav-container>
      <mat-sidenav #positionBar class="positionNavBar"
      opened=true mode="side" position="start"
      (openedStart)="onPositionBarOpen()" (closedStart)="onPositionBarClose()">
        <mat-accordion #positionHolder multi="false">
          <mat-expansion-panel #offensePanel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Offense
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="positionList" dense>
                <mat-list-item #positionClass class="positionClass"
                (mousedown)="mousedown($event, position)"
                (mouseup)="mouseup()"
                  *ngFor="let position of getOffensivePlayers()">{{position.name}}
                </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel #defensePanel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Defense
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="positionList" dense>
              <mat-list-item #positionClass class="positionClass"
                (mousedown)="mousedown($event, position)"
                (mouseup)="mouseup()"
                *ngFor="let position of getDefensivePlayers()">{{position.name}}
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel #specialTeamsPanel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Special Teams
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="positionList" dense>
              <mat-list-item #positionClass class="positionClass"
                (mousedown)="mousedown($event, position)"
                (mouseup)="mouseup()"
                *ngFor="let position of getSpecialTeamsPlayers()">{{position.name}}
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content">
          <div #field class="field"
            (click)="handleFieldClick()">
            <div class="version">
              {{version}}
            </div>
            <button mat-raised-button #positionBarToggle class="positionBarToggle" (click)="positionBar.toggle()">{{positionButtonToggle}}</button>
            <button mat-raised-button #detailBarToggle class="detailBarToggle" (click)="detailNavBar.toggle()">{{detailButtonToggle}}</button>
          </div>
          <div class="detailBar">
            <p class="formationName">Enter Formation Name Here</p>
            <button mat-raised-button class="validateButton" disabled>
              <p class="validateButtonTitle">Validate</p>
            </button>
            <p class="playName">Enter Play Name Here</p>
          </div>
        </div>
      </mat-sidenav-content>
      <mat-sidenav #detailNavBar class="detailNavBar"
        opened="false" mode="side" position="end"
        (openedStart)="onDetailBarOpen()" (closedStart)="onDetailBarClose()">
        <div class="propertiesBar">
          <h2>
            {{selectedPosition.name}} Properties
          </h2>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div>
