<div class="main">
  <mat-sidenav-container>
    <mat-sidenav #positionBar class="positionNavBar" 
      opened=true mode="side" position="start"
      (openedStart)="onPositionBarOpen()" (closedStart)="onPositionBarClose()">
      <div class="teamPanels">
        <mat-accordion multi="false">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Offense
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="positionList" dense>
                <mat-list-item 
                  (click)="handlePositionClick($event)"
                  *ngFor="let Position of getOffensivePlayers()">{{Position.name}}
                </mat-list-item> 
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Defense
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="positionList" dense>
              <mat-list-item 
                *ngFor="let Position of getDefensivePlayers()">{{Position.name}}
              </mat-list-item> 
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Special Teams
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list class="positionList" dense>
              <mat-list-item 
                *ngFor="let Position of getSpecialTeamsPlayers()">{{Position.name}}
              </mat-list-item> 
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <div class="field">
          <div class="version">
            <p>{{version}}</p>
          </div>
          <button #positionBarToggle class="positionBarToggle" (click)="positionBar.toggle()">{{positionButtonToggle}}</button>
          <button #detailBarToggle class="detailBarToggle" (click)="detailBar.toggle()">{{detailButtonToggle}}</button>
        </div>
        <div class="detailBar">
          <p class="formationName">Enter Formation Name Here</p>
          <button class="validateButton" disabled>
            <p class="validateButtonTitle">Validate</p>
          </button>
          <p class="playName">Enter Play Name Here</p>
        </div>
      </div>
    </mat-sidenav-content>
    
    <mat-sidenav #detailBar class="detailNavBar"
      opened=true mode="side" position="end"
      (openedStart)="onDetailBarOpen()" (closedStart)="onDetailBarClose()">
      <div>
        <mat-tab-group class="detailTabs">
          <mat-tab label="Properties">
            Properties Tab
          </mat-tab>
          <mat-tab label="Position XML">
            Position XML Editor
          </mat-tab>
          <mat-tab label="Play XML">
            Play XML Editor
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>