.main{
  height: 100%;
  width: 100%;
  position: relative;
}

mat-sidenav-container{
  height: 100%;
}


.deletePosition{
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  z-index: 1;
  visibility: hidden;
}

.deletePositionShader{
  width: 66px;
  height: 66px;
  position: absolute;
  bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  left: 48%;
  border-radius: 50%;
  visibility: hidden;
  background:rgba(255, 0, 0, 0.25);
}

/* .deletePositionShader::after {
  display: block;
  padding-bottom: 100%;
} */

.content{
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.detailNavBar{
  width: 20%;
  position: absolute;
}

.ball{
  height: 20px;
  width: 20px;
  top: 40%;
  left: 50%;
  position: absolute;
  user-select: none;
  background-color: #653403;
  border-radius: 50%;
  display: inline-block;
  z-index: 2;
}
