.main{
    height: 100%;
    width: 100%;
}

mat-sidenav-container{
    height: 100%;
}

.content{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.positionNavBar{

}

.detailNavBar{
    /* width: 25%; */
}

.positionBarToggle{
    position: absolute;
    top: 50%;
    left: 0%;
}

.detailBarToggle{
    position: absolute;
    top: 50%;
    right: 0%;
}

.field{
    height: 95%;
    width: 100%;
}

.validateButton{
    padding: 0;
}

.validateButtonTitle{
    padding: 0;
    margin: 0;
}

.detailBar{
    width: 100%;
    display: grid;
    grid-template-columns: auto 18% auto;
    grid-template-rows: auto;
}

.formationName{
    margin-left: auto;
    margin-right: auto;
}

.playName{
    margin-left: auto;
    margin-right: auto;
}

.version{
    z-index: -1;
    padding: 0;
    color: gray;
}

.detailTabs{
    
}
