<div class="detailPanel">
  <div class="propertiesHeader">
    <h2>
      {{selectedPosition.name}} Properties
    </h2>
  </div>
  <div #positionDetails class="positionDetails">
    <div>
      <mat-form-field>
        <mat-label>Position</mat-label>
        <mat-select
          (selectionChange)="handlePositionChanged($event)"
          [(value)]="highlightedPosition">
          <mat-option 
          *ngFor="let position of getAvailablePositions()" [value]="position">{{position.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="locationHolder">
      <h3 class="locationHeader">Location</h3>
        <div class="locationInputX">
          <input matInput #xInput
            type="number"
            (change)="handleChange()"
            [(value)]="xValue">
        </div>
        <span class="locationXFooter"><h3>ft</h3></span>
        <span><h3>,</h3></span>
        <div class="locationInputY">
          <input matInput #yInput
            type="number"
            (change)="handleChange()"
            [(value)]="yValue">
        </div>
        <span class="locationYFooter"><h3>ft</h3></span>
    </div>
    <div class="slotHolder">
      <span><h3>Slot {{slot}}</h3></span>
    </div>
  </div>
  <div class="version">
    {{version}}
  </div>
</div>
