<div class="detailPanel">
  <div class="propertiesHeader">
    <h2>
      {{selectedPosition.name}} Properties
    </h2>
  </div>
  <div #positionDetails class="positionDetails">
    <div>
      <mat-form-field>
        <mat-label>Position</mat-label>
        <mat-select
          (selectionChange)="handlePositionChanged($event)"
          [(value)]="highlightedPosition">
          <mat-option 
          *ngFor="let position of getAvailablePositions()" [value]="position">{{position.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      
    </div>
  </div>
  <div class="version">
    {{version}}
  </div>
</div>
