.version{
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 5px;
  padding-bottom: 5px;
  color: gray;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number]{
  -moz-appearance: textfield;
}

.positionDetails {
  visibility: hidden;
  padding-left: 10px;
}

.locationHolder{
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
}

.locationHeader{
  padding-right: 2px;
  padding-bottom: 1px;
  margin-top: auto;
  margin-bottom: auto;
}

.locationInputX{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  padding-right: 5px;
  width: auto;
  text-align: end;
}

.locationInputY{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  text-align: end;
}

.locationXFooter{
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5px;
}

.locationYFooter{
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 20%;
}
